.DS_Store
desktop.ini
*.aux
*.bbl
*.blg
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.fdb_latexmk
*.fls
*.hi
*.hp
*.log
*.o
*.out
*.prof
*.synctex.gz
*.toc
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.sandbox.config
dist
dist-*
*.cabal
temp.*
report.pdf
bench/results*
benchmarks/LWB/bench_raw.csv
benchmarks/LWB/bench_table.csv
/benchmarks/LWB/logs
*.csv
/benchmarks/LWB/logs_1000_2000
/benchmarks/LWB/logs_300_600/k_p
/benchmarks/LWB/logs_300_600/s4_n
/benchmarks/LWB/logs_300_600/s4_p/S4
/benchmarks/LWB/logs_300_600/k_n/K
*.pdf
*.numbers
